[defaults]
inventory = inventory.aws_ec2.yml
remote_user = ec2-user
private_key_file = ~/.ssh/devops-training.pem
host_key_checking = False
stdout_callback = default
result_format = yaml
deprecation_warnings = False
interpreter_python = /usr/bin/python3.9

[inventory]
enable_plugins = aws_ec2